interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.stripe.com/v1/customers/ccus_JjHctnd9PxV2Dt
  response:
    body:
      string: "{\n  \"error\": {\n    \"code\": \"resource_missing\",\n    \"doc_url\":
        \"https://stripe.com/docs/error-codes/resource-missing\",\n    \"message\":
        \"No such customer: 'ccus_JjHctnd9PxV2Dt'\",\n    \"param\": \"id\",\n    \"type\":
        \"invalid_request_error\"\n  }\n}\n"
    headers:
      Content-Type:
      - application/json
      stripe-version:
      - '2020-08-27'
    status:
      code: 404
      message: Not Found
version: 1
